
.App {
    text-align: center;
  }

  body{
    background-color: #f5f6fa;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .app__stats{
    display:flex;
    justify-content: space-between;
    padding: 20px;
  
  }
  .app{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  @media (max-width:990px){
    .app{
        flex-direction: column;
    }
  }
  
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .app__stats {
    display: flex;
    justify-content: space-between;
  }
  
  .App-link {
    color: #61dafb;
  }
  .app {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f6fa;
    padding: 20px;
  }
  
  .app__left{
    flex:0.9;
    display: flex;
    
    
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
    
  }
  

  .app__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

  }
  /* .infobox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
  } */
  
  .card-style{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* width: 15rem; */
  }
  .app__stats>*{
    flex-basis: 33%;

  }

.app__main{
  flex-basis: 100%;
  
}

.bg-color{
  background-color: #f3f2f8;
  
}

